.profile-photo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* background: indigo; */
}
.profile-photo img{
    width: 300px;
}