.App {
  text-align: center;
}

.page{
  display: grid;
  grid-template-columns: 2fr 9fr;
}
.content{
  max-width: 90%;
  min-height: 50vh;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}
.sidebar{
  position: sticky;
  top: 85px;
}